<h1>test</h1>
<p>ahojky</p>

<nav >
  <a style="padding: 10px" routerLink="/">Domů</a>
  <a style="padding: 10px" routerLink="/users">Uživatelé</a>
  <a style="padding: 10px" routerLink="/contakt">Kontakty</a>
  <a style="padding: 10px" routerLink="/add.users">Přidat uživatele</a>
  <a style="padding: 10px" routerLink="/modify.users">Upravit uživatele</a>
  <a style="padding: 10px" routerLink="/del.users">Odebrat uživatele</a>
  <a style="padding: 10px" href="https://jakub.baprace.online/home">Kubík</a>
  <a style="padding: 10px" href="https://mentor.baprace.online/home">Mentor</a>
</nav>

<router-outlet />
